.size>ul>li>input:checked+label {
    background-color: black;
    color: white;
}

.m-checkbox,
.m-radio {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.m-checkbox>input,
.m-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.m-checkbox.m-checkbox--success.m-checkbox--solid>span {
    border: 1px solid transparent!important;
}

.m-checkbox.m-checkbox--solid>span {
    background: #e2e5ec;
    border: 1px solid transparent!important;
}

.m-checkbox>span,
.m-radio>span {
    border-radius: 3px;
    background: 0 0;
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
}

.m-checkbox.m-checkbox--success.m-checkbox--solid>input:checked~span {
    background: #34bfa3;
}